body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ed0707;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #821313;
    font-weight: bold;
}

main {
    padding: 20px;
}

.about-us {
    max-width: 800px;
    margin: 0 auto;
}

.about-us h2 {
    color: #119311;
}

.about-us p {
    color: #666;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #6f17d3;
    text-align: center;
    padding: 20px 0;
}
